<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Aplicación base Acceso a datos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<script src="webjars/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<script type="text/javascript"
	src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Control de alumnos</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/}">Listado de alumnos (DOM)</a></li>
					<li class="active"><a th:href="@{/indexSax}">Listado de alumnos (SAX)</a></li>
					<li class="active"><a th:href="@{/indexJaxb}">Listado de alumnos (JAXB)</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Listado de alumnos de clase</h1>
			<a class="btn btn-primary pull-right" href="/alumn/new" role="button">Nuevo alumno</a>
			<br />
			<table class="table">
				<tr>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Detalle</th>
				</tr>
				<tr data-th-each="alumn : ${alumns}">
					<td data-th-text="${alumn.name}"></td>
					<td data-th-text="${alumn.surname}"></td>
					<td><a class="btn btn-default"
						th:href="@{/alumn/detail/{id}(id=${alumn.id})}"><i
							class="glyphicon glyphicon-search"></i></a></td>

				</tr>
			</table>
		</div>

	</div>
	<!-- /.container -->



</body>
</html>